epaycert.cer
user avatar
EAP-00|OG|added cert file
Most recent commit.
Omkar Gupta authored 9 months ago
861812a8
 Code owners
Assign users and groups as approvers for specific file changes. Learn more.
epaycert.cer
2.08 KiB
-----BEGIN CERTIFICATE-----
MIIF4TCCBMmfsghnjermyhjrerthrtntyjtmymyrghjtynmmjyyyqhkiG9w0BAQsF
ADBAMRMwEQYKCZImiZPyLbgfnbfnhnhgmjhhkgdnghmjjhmjfmghmgfmgmjQxFTAT
kyhjvmgmjhmjhmXoPnjfJ+DNN
-----END CERTIFICATE-----
