[osuser@bastion ~]$ oc get deploy payment-paymentservice -o yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "714"
    meta.helm.sh/release-name: payment
    meta.helm.sh/release-namespace: dev-transaction
  creationTimestamp: "2025-12-23T10:44:09Z"
  generation: 724
  labels:
    app.kubernetes.io/instance: payment
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: paymentservice
    app.kubernetes.io/version: 1.16.0
    helm.sh/chart: paymentservice-0.1.0
  name: payment-paymentservice
  namespace: dev-transaction
  resourceVersion: "933079523"
  uid: 768c6d2f-b0aa-4ba3-b0de-042fc47f1bd3
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app.kubernetes.io/instance: payment
      app.kubernetes.io/name: paymentservice
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        checksum/configmap: e0aae84bfcef0b03f15dd9515704638e7e7f719eb837b6d7942347e6bfe939e5
        kubectl.kubernetes.io/restartedAt: "2026-07-09T19:05:34+05:30"
        openshift.openshift.io/restartedAt: "2026-07-18T08:48:59.425Z"
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: payment
        app.kubernetes.io/managed-by: Helm
        app.kubernetes.io/name: paymentservice
        app.kubernetes.io/version: 1.16.0
        helm.sh/chart: paymentservice-0.1.0
    spec:
      containers:
      - env:
        - name: SPRING_CONFIG_LOCATION
          value: file:/opt/gradle/
        - name: DB_USERNAME
          valueFrom:
            secretKeyRef:
              key: DB_USERNAME
              name: my-secrets-payment-service-secret
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              key: DB_PASSWORD
              name: my-secrets-payment-service-secret
        image: artifactory.jfrog.sbi:443/itepaypg-sbiepay2-docker-local/app/backend/epay_payment_service:dev-17265358
        imagePullPolicy: IfNotPresent
        name: paymentservice
        ports:
        - containerPort: 9093
          name: http
          protocol: TCP
        resources: {}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          runAsNonRoot: true
          seccompProfile:
            type: RuntimeDefault
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /opt/gradle
          name: config
        - mountPath: /certs
          name: payment-upivpaqr-cert
          readOnly: true
        - mountPath: /etc/epay/certs/trust
          name: trust-certs
          readOnly: true
        - mountPath: /etc/custom-certs-payment
          name: custom-certs-payment
          readOnly: true
      dnsPolicy: ClusterFirst
      imagePullSecrets:
      - name: jfrog-pull-secret
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      serviceAccount: default
      serviceAccountName: default
      terminationGracePeriodSeconds: 30
      volumes:
      - configMap:
          defaultMode: 420
          name: payment-config
        name: config
      - name: payment-upivpaqr-cert
        secret:
          defaultMode: 444
          secretName: payment-upivpaqr
      - configMap:
          defaultMode: 420
          items:
          - key: trust-bundle.pem
            path: trust-bundle.pem
          name: payment-config
        name: trust-certs
      - name: custom-certs-payment
        secret:
          defaultMode: 420
          secretName: custom-certs-payment
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: "2026-08-07T06:59:17Z"
    lastUpdateTime: "2026-08-07T06:59:17Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  - lastTransitionTime: "2026-08-07T13:46:11Z"
    lastUpdateTime: "2026-08-10T03:50:00Z"
    message: ReplicaSet "payment-paymentservice-6988f5699d" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  observedGeneration: 724
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
