 cert-inventory.yaml: |
    certificates:
      - cert_id: merchant-sbiuat-bank
        subject_cn: "merchant.sbiuat.bank.in"
        purpose: "outbound bank gateway TLS"
        added_by: "DevOps"
        added_date: "2026-08-09"
        source: "<certificate source>"

      - cert_id: sms
        subject_cn: "<actual-SMS-CN>"
        purpose: "SMS gateway TLS"
        added_by: "DevOps"
        added_date: "2026-08-09"
        source: "<certificate source>"

      - cert_id: mobikwik-test1
        subject_cn: "test1.mobikwik.com"
        purpose: "Mobikwik TLS"
        added_by: "DevOps"
        added_date: "2026-08-09"
        source: "<certificate source>"

      - cert_id: mobikwik-test2
        subject_cn: "test2.mobikwik.com"
        purpose: "Mobikwik TLS"
        added_by: "DevOps"
        added_date: "2026-08-09"
        source: "<certificate source>"

      - cert_id: mobikwik-test3
        subject_cn: "test3.mobikwik.com"
        purpose: "Mobikwik TLS"
        added_by: "DevOps"
        added_date: "2026-08-09"
        source: "<certificate source>"
